<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音视频转换工具</title>
    <!-- 引入Bootstrap CSS文件和Bootstrap Icons -->
    <link href="/bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons-1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- 自定义CSS样式 -->
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">音视频转换工具</h1>
            <p class="lead">简单、快速的音频和视频格式转换</p>
        </div>
        <div class="alert alert-info mt-4">
            <strong>温馨提示：</strong> 第三方下载器下载会出现无法下载的情况，请使用浏览器下载器下载
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">音频转换</h5>
                        <p class="card-text">将音频文件转换成其他格式。</p>
                        <a href="/audio" class="btn btn-custom btn-lg btn-block">
                            <i class="bi bi-music-note"></i> 开始转换
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">视频转换</h5>
                        <p class="card-text">将视频文件转换成其他格式。</p>
                        <a href="/video" class="btn btn-custom btn-lg btn-block">
                            <i class="bi bi-film"></i> 开始转换
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 引入Bootstrap JS文件和jQuery -->
    <script src="/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
</body>

</html>